* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*
  https://colorhunt.co/palette/f5f5f5f0545430475e121212
  F5F5F5
  F05454
  30475E
  121212
  */
}
body {
  font-family: sans-serif;
  max-width: 62em;
  margin: 1em auto;
}

/* Behavior Header, Navbar and inner a-tags */
header {
  background-color: #30475e;
  color: #f5f5f5;
  padding: 0.5em 0.5em;
  align-items: center;
}
h1 {
  padding: 0 0.25em;
}

header a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 0.5em 1em;
  font-weight: bold;
}
header a:hover {
  background-color: #f05454;
  color: #30475e;
  border-style: outset;
  border-color: #30475e;
  border-radius: 0.25em;
}

/* Behavior main */
main {
  flex-direction: column;
}
/*--------------- passport styling ---------------*/
.passportImg {
  width: 15em;
  height: 17em;
}
main section {
  margin-top: 2em;
}

h2 {
  margin: 0.4em 0;
}
/*--------------- AboutMe ---------------*/
p {
  padding: 1.5em 0;
}
q {
  background-color: #f5f5f5;
  text-align: center;
  margin: 2em;
}

/*--------------- Logos and Pictures ---------------*/

.socialLogos {
  margin: 0 0.25em;
  width: 2em;
  height: 2em;
}
/* Behavior footer */

/*--------------- utility ---------------*/
.flex {
  display: flex;
}
.jcSpaceBetween {
  justify-content: space-between;
}
.acCenter {
  align-content: center;
}
.noListType {
  list-style-type: none;
}
.p1em {
  padding: 1em;
}
