* {
  box-sizing: border-box;
}
body {
  margin: 10px 25px;
  padding: 10px 25px;
}

header,
main,
footer {
  max-width: 750px;
  margin: 0 auto;
}
section {
  background-color: thistle;
  font-family: "Roboto", sans-serif;
}
